<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="ProcessName" value="DataSync"/>
        <add key="WorkingDirectory" value="D:\禾草沟煤矿系统\开发\同步程序\DataSync\DataSync\bin\Release"/>
        <add key="CallInteral" value="10"/>
    </appSettings>
</configuration>